/* DASHBOARD */
.content {
  grid-area: content;
  background: transparent;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  /* Asegura que el content no colapse su altura */
}

.ratings {
  width: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 6px #ddd;
  padding: 60px 25px;
  margin: 0 1em;
}

.noflex-wrap {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
  width: 100%;
  margin: 1em 0;
}

.radar-chart {
  flex: 1 1 25%;
  max-width: 25%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 6px #ddd;
  margin: 0 1em 0 1em;
  padding: 30px 0 0 10px;
}

.radar-chart__content {
  display: block;
  align-content: space-between;
  box-sizing: border-box;
  width: 100%;
}

.table {
  width: 100%;
  height: 700px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 6px #ddd;
  padding: 65px 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 1em 1em 1em;
  overflow-y: auto; /* Desplazamiento vertical */
  overflow-x: hidden; /* Desactiva el desplazamiento horizontal */
  scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
}

.table::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en Chrome/Safari */
}

.linear-chart {
  flex: 1 1 50%;
  max-width: 50%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 6px #ddd;
  margin: 0 1em 0 1em;
  padding: 30px 60px;
}
